@model List<Product>

@{
    ViewData["Title"] = "Товары";
}

<h2>Товары</h2>

<div class="row">
    <div class="col-md-12">
        <a asp-controller="Admin" asp-action="AddProduct" class="btn btn-primary mb-3">Добавить продукт</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>КОД</th>
                        <th>Название</th>
                        <th>Мощность</th>
                        <th>Цена</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Power</td>
                            <td>@product.Price</td>
                            <td>
                                <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Редактировать</a>
                                <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
