@{
    ViewData["Title"] = "Детали товара";
}

<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(ViewBag.ImagePath))
        {
            <img src="@Url.Content(ViewBag.ImagePath)" alt="@ViewBag.Name" class="img-fluid shadow" />
        }
    </div>

    <div class="col-md-8">
        <h2>@ViewBag.ProductName</h2>
        <p>Цена: @ViewBag.ProductPrice</p>
        <p>Мощность: @ViewBag.Power</p>

        <h3>Дополнительные опции:</h3>
        <form id="orderForm" asp-action="Order" asp-controller="Client">
            <input type="hidden" name="productId" value="@ViewBag.ProductId" />
            <input type="hidden" name="selectedOptionIds" value="" /> <!-- Новое скрытое поле -->
            <div class="form-group">
                @foreach (var option in ViewBag.ProductOptions)
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="optionIds" value="@option.Id" data-price="@option.Price" id="option_@option.Id">
                        <label class="form-check-label" for="option_@option.Id">@option.Name - @option.Price</label>
                    </div>
                }
            </div>
            <br />
            <p>Итоговая цена: <span id="totalPrice">@ViewBag.ProductPrice</span></p>
            <button type="submit" class="btn btn-primary shadow">Заказать</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[name="optionIds"]').change(function () {
                var totalPrice = parseFloat('@ViewBag.ProductPrice');
                $('input[name="optionIds"]:checked').each(function () {
                    var optionPrice = parseFloat($(this).data('price'));
                    totalPrice += optionPrice;
                });
                $('#totalPrice').text(totalPrice.toFixed(2));
            });

            $('#orderForm').submit(function () {
                var selectedOptions = [];
                $('input[name="optionIds"]:checked').each(function () {
                    selectedOptions.push($(this).val());
                });

                if (selectedOptions.length === 0) {
                    selectedOptions = [""];
                }

                $('input[name="selectedOptionIds"]').val(selectedOptions.join(','));

                var totalPrice = parseFloat('@ViewBag.ProductPrice');
                $('input[name="optionIds"]:checked').each(function () {
                    var optionPrice = parseFloat($(this).data('price'));
                    totalPrice += optionPrice;
                });
                $('input[name="totalPrice"]').val(totalPrice.toFixed(2));
            });
        });
    </script>
}
