@model List<Product>

@{
    ViewData["Title"] = "Товары";
}

<div class="row mb-4">
    <div class="col-md-12">
        <form method="get" action="@Url.Action("Products", "Client")">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="minPrice">Мин. цена:</label>
                        <input type="number" class="form-control" name="minPrice" id="minPrice" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="maxPrice">Макс. цена:</label>
                        <input type="number" class="form-control" name="maxPrice" id="maxPrice" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="minPower">Мин. мощность:</label>
                        <input type="number" class="form-control" name="minPower" id="minPower" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="maxPower">Макс. мощность:</label>
                        <input type="number" class="form-control" name="maxPower" id="maxPower" />
                    </div>
                </div>
            </div>
            <div class="form-group pt-4">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                @if (!string.IsNullOrEmpty(product.ImagePath))
                {
                    <img class="card-img-top" src="@Url.Content($"{product.ImagePath}")" alt="@product.Name">
                }
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">
                        <strong>Цена:</strong> @product.Price<br />
                        <strong>Мощность:</strong> @product.Power<br />
                        <strong>Доступность:</strong> @product.Availability
                    </p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Details", "Client", new { id = product.Id })" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    }
</div>
