@{
    ViewData["Title"] = "Orders";
}

<h2 class="text-center mb-5">Orders</h2>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Products</th>
                        <th>Quantity</th>
                        <th>Options</th>
                        <th>Total Price</th>
                        <th>Customer</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in ViewBag.Orders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.Status</td>
                            <td>@order.Date</td>
                            <td>@order.Products</td>
                            <td>@order.Quantity</td>
                            <td>@order.Options</td>
                            <td>@order.TotalPrice</td>
                            <td>@order.CustomerId</td>
                            <td>
                                @if (order.Status!= "Completed" && order.Status!= "Rejected")
                                {
                                    <button type="button" class="btn btn-primary btn-sm me-2 mb-1" asp-controller="Manager" asp-action="CreateOffer" asp-route-id="@order.Id">Create Offer</button>
                                }
                                @if (order.Status == "Pending")
                                {
                                    <button type="button" class="btn btn-danger btn-sm me-2 mb-1" asp-controller="Manager" asp-action="RejectOrder" asp-route-id="@order.Id">Reject</button>
                                }
                                @if (order.Status == "Pending" || order.Status == "Processing")
                                {
                                    <button type="button" class="btn btn-success btn-sm mb-1" asp-controller="Manager" asp-action="MarkAsProcessing" asp-route-id="@order.Id">Mark as Processing</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="mb-5" asp-controller="Manager" asp-action="Orders" method="get">
            <div class="form-group">
                <label for="status" class="form-label">Sort by status:</label>
                <select name="status" id="status" class="form-select">
                    <option value="">All</option>
                    <option value="Pending">Pending</option>
                    <option value="Processed">Processed</option>
                    <option value="Processing">Processing</option>
                    <option value="Completed">Completed</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>
    </div>
</div>